/* header styles */
nav {
  padding: 10px 20px;
  font-size: 20px;
}
ul li a {
  margin-left: 20px;
  color: #f25287 !important;
}
.navbar-brand {
  color: #f25287 !important;
  font-weight: 800;
}
.brand__icon {
  background-color: #f25287;
  color: #fff;
  margin-right: 15px;
  border-radius: 99px;
}

/* Wallet styling */
.afya,
.zar {
  background-color: #f25287;
  text-align: center;
  padding: 20px 0;
}
.afya__span {
  background-color: #fff;
  /* width: 10px; */
  border-radius: 99px;
  /* padding: 0; */
  padding: 17px 8px;
  font-weight: 800 !important;
  color: #f25287 !important;
}
.span__container {
  margin-top: 10px;
  margin-bottom: 40px;
}
.zar__span {
  background-color: #fff;
  /* width: 10px; */
  border-radius: 99px;
  /* padding: 0; */
  padding: 17px 12px;
  font-weight: 800 !important;
  color: #325288 !important;
}
.afya p,
.zar p {
  color: #fff;
  margin-top: 20px;
  font-weight: 800;
  font-size: 25px;
}
.afya span,
.zar span {
  color: #fff;
  font-weight: 600;
}

/* Currency section */
.currency__section {
  margin: 10px 0;
  padding: 0;
}
.currency__section h3 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  background-color: gray;
  padding: 10px 10px;
}
.currency__section input {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 10px;
}
.currency__section input:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
.currency__section button {
  color: #fff;
  margin-right: 20px;
  padding: 10px 30px;
  text-transform: inherit;
  font-size: 16px;
}
.currency__section button,
.currency__section button:hover {
  background-color: #325288;
}

/* Bottom Navigation */
.footer__navigation {
  text-align: center;
}
.footer__navigation div {
  margin: 10px 50px;
  display: flex;
  align-items: center;
}
.footer__icon {
  margin-right: 5px;
}

/* Activity Component Styles */
.activity h3 {
  font-size: 20px;
  font-weight: 800;
  background-color: gray;
  padding: 10px 10px;
  color: #fff;
}
.activity .list__item {
  display: flex;
  padding: 0 0;
  align-items: center;
  justify-content: space-between;
}
.list__item .icon {
  background: #f25287;
  color: #fff;
  padding: 5px;
  border-radius: 99px;
  font-size: 5px;
}
.list__item p,
.list__item span {
  font-size: 15px;
  font-weight: 600;
  color: grey;
}

/* Media Querries */
@media screen and (max-width: 736px) {
  .afya,
  .zar {
    background-color: #f25287;
    text-align: center;
    padding: 20px 0;
  }
  .afya__span {
    background-color: #fff;
    /* width: 10px; */
    border-radius: 99px;
    /* padding: 0; */
    padding: 12px 5px;
    font-weight: 800 !important;
    color: #f25287 !important;
    font-size: 10px;
  }
  .span__container {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .zar__span {
    background-color: #fff;
    /* width: 10px; */
    border-radius: 99px;
    /* padding: 0; */
    padding: 12px 8px;
    font-weight: 800 !important;
    color: #325288 !important;
    font-size: 10px;
  }
  .afya p,
  .zar p {
    color: #fff;
    margin-top: 10px;
    font-weight: 800;
    font-size: 15px;
  }
  .afya span,
  .zar span {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    margin-top: -10px;
  }

  /* Wallet section */
  .wallet__section {
    display: flex;
    width: 100vw;
  }
  .wallet__section .afya,
  .wallet__section .zar {
    width: 50%;
  }

  /* Bottom Navigation */
  .footer__navigation {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .footer__navigation div {
    margin: 0;
  }
  .footer__icon {
    margin-right: 0px;
    font-size: 0.8rem;
  }
  .footer__navigation div p {
    font-size: 1px;
  }
  .footer__navigation .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 0.8rem;
    text-decoration: none;
    white-space: nowrap;
  }

  /* Currency section */
.currency__section {
    margin: 30px 0;
    padding: 0;
  }
  .currency__section h3 {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    background-color: gray;
    padding: 10px 10px;
  }
  .currency__section input {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
  }
  .currency__section input:focus {
    box-shadow: inset 0 -1px 0 #ddd;
  }
  .currency__section button {
    color: #fff;
    margin-right: 20px;
    padding: 8px 20px;
    text-transform: inherit;
    font-size: 12px;
  }
  .currency__section button,
  .currency__section button:hover {
    background-color: #325288;
  }


  /* Activity Component Styles */
.activity h3 {
    font-size: 15px;
    font-weight: 800;
    background-color: gray;
    padding: 10px 10px;
    color: #fff;
    margin-top: 20px;
  }
  .activity .list__item {
    display: flex;
    padding: 0 0;
    align-items: flex-start;
    justify-content: space-between;
  }
  .list__item .icon {
    background: #f25287;
    color: #fff;
    padding: 5px;
    border-radius: 99px;
    font-size: 1px;
  }
  .list__icon {
      font-size: 2px;
  }
  .list__item p,
  .list__item span {
    font-size: 12px;
    font-weight: 600;
    color: grey;
  }
  
}
